<html>
<head>
	<title>Chef-Vagrant Tutorial</title>
</head>
<body>

	<h1>Welcome to <%= node["company"] %> ..!!! :) </h1> 

	<h2>Hello from <%= node["fqdn"] %> ..!!! :) </h1> 
	<p>
		This is just to test the development environment running in 
		version 0.2.0
	</p>
</body>
</html>
